<h1>Welcome to cse Motors</h1>
<%- messages() %>
<div class="content-container2">
    <div id="container2">
       <div id="wrapper2">
         <h2 class="delorean-title">DMC Delorean</h2>
            <p class="delorean-features">
                3 cup holders <br>
                superman doors <br>
                fuzzy dice
            </p>
            <img src="/images/site/own_today.png" alt="Own Today"/>
        </div>
    </div>
</div>

<div class="container3">
    <h2>Delorean upgrades</h2>
    <div class="grid-container">
        <div class="grid-item">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker" title="Bumper Sticker">
            <a href="#" class="upgrade-link">Bumper Sticker</a>
        </div>
        <div class="grid-item">
            <img src="/images/upgrades/flame.jpg" alt="Flame" title="Flame">
            <a href="#" class="upgrade-link">Flame</a>
        </div>
        <div class="grid-item">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Cap" title="Flux Cap">
            <a href="#" class="upgrade-link">Flux Cap</a>
        </div>
        <div class="grid-item">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap" title="Hub Cap">
            <a href="#" class="upgrade-link">Hub Cap</a>
        </div>
    </div>
    <div class="reviews-container">
        <h2>DMC Delorean Reviews</h2>
        <ul style="list-style-position: inside; padding-left: 0; margin-left: 0;">
            <li style="display: list-item;">"So fast it's almost like traveling in time." (4/5)</li>
            <li style="display: list-item;">"Coolest ride on the road." (5/5)</li>
            <li style="display: list-item;">"I'm feeling Marty McFly!" (5/5)</li>
            <li style="display: list-item;">"The most futuristic ride of our day." (4.5/5)</li>
            <li style="display: list-item;">"80s livin and I love it." (5/5)</li>
        </ul>
    </div>
</div>